extends layout 

block content 
    h1 Login Page 
    form(action="", method="post") 
        label(for="username") Username
        input(type="text", name="username", id="username")
        label(for="password") Password
        input(type="password", name="password", id="password")
        input(type="submit", value="Login")

    if errMsg
        div.error-container
            p.error= errMsg